$textColor:white;
$background: blue;
$widthUnit: 200px;
.hola-mundo {
    color: $textColor;
    background-color: $background;
    width: $widthUnit*3;
}

img {
    display: block;
    width: $widthUnit;
}

.stadion {
    width: $widthUnit*2;
}

span {
    color: $textColor;
    background-color: $background;
}