@import "_mixins";
.container {
    display: flex;
    flex-direction: column;
}

$baseColor: red;
.base {
    @include init-box;
    background-color: $baseColor;
}

.important {
    @include init-box;
    background-color: darken($baseColor, 30%);
}

.warning {
    @include init-box;
    background-color: lighten($baseColor, 30%);
}

.main-font {
    font-family: sans-serif;
    padding-top: 10px;
}

.sec-font {
    font-family: cursive;
    padding-top: 10px;
    padding-bottom: 10px;
}

.shadow {
    @include init-box;
    box-shadow: -5px 10px 8px rgb(58, 58, 58);
}