input {
    display: inline-block;
    border-radius: 3px / 5px;
    border: 1.5px solid rgba(90, 90, 90, 0.4);
    background: rgba(220, 220, 220, 0.16);
    padding: 0.2rem 0.4rem;
    margin-left: 0.5rem;
    width: 15rem;
}