.container {
    margin: 2em;
    background-color: grey;
    display: grid;
    height: 50vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
    column-gap: 5px;
    row-gap: 5px;
}

.item-a {
    /*grid-row: 1 / 2;
    grid-column: 1 / 4;
    grid-column: column1-start / span 1;*/
    grid-area: header;
    background-color: deeppink;
}

.item-b {
    /*grid-row: 2 / 3;
    grid-column: 1 / 4;
    grid-column: column1-start / span 2;*/
    grid-area: main;
    background-color: darkgreen;
}

.item-c {
    /*grid-row: 3 / 4;
    grid-column: 1 / 4;
    grid-column: column1-start / column4-end;*/
    grid-area: sidebar;
    background-color: skyblue;
}

.item-d {
    grid-area: footer;
    background-color: yellow;
}